<!-- public/views/game.html -->

<div class="jumbotron text-center">
    <h1>This is game.html</h1>

    <p>{{ tagline }}</p>

</div>

<h2> Select a player to do a fight</h2>
<div ng-repeat="player in players">
	<button ng-click="playerSelect(player.playername);"> {{ player.playername}} </button>
	<p>Team: {{ player.team}}</p>
    <p>Luck: {{ player.stats.luck}}</p>
    <p>Macro: {{ player.stats.macro}}</p>
</div>


<!--
<h2> Select a player to do a fight</h2>
<div>
  <ul>
    <li ng-repeat="x in names">
      <form method "post" action="/playefight">
        <input type="submit" value="{{ x.playername }}"/>
      </form>
      <p>Team: {{ x.team}}</p>
      <p>Luck: {{ x.stats.luck}}</p>
      <p>Macro: {{ x.stats.macro}}</p>
    </li>
  </ul>
</div>
-->