doctype html
html
  head
    title SC2 Manager
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js')
    script(src='script.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
